.page-header
  %h1 botの追加

= form_for @bulk_new, { :url => 'bulk_create', :html => { :class => 'form-horizontal' } } do |f|
  .control-group
    = f.label :bots, 'アカウント名', :class => 'control-label'
    .controls
      = f.text_area :bots, :class => 'text_area'
      %p.help-block
        一行にひとつ
  .form-actions
    = f.submit '追加', :class => 'btn btn-primary'
